.main-body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100svh;
  background-color: #FAAC68;
}

.git-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin: 50px 100px 100px;
  min-height: 0;
}

.content-window {
 border: 4px solid gray;
 border-radius: 10px;
 min-height: 0;
 transition: 
  box-shadow 0.2s linear 0s,
  transform 0.1s ease-out 0s;
 padding: 20px;
 overflow: auto;
}

.content-window:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 8rem rgba(0, 0, 0, 0.8);
}

.git-sidebar {
  background-color: #FA6868;
}

.repo-container {
  margin-top: 0;
  background-color: #5A9CB5;
}

.repo-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 0;
}

.repo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 4rem;
  aspect-ratio: 5 / 3;
  background-color: #66adc7;
  border-radius: 4px;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 0px;
  overflow: hidden;
  transition: transform 0.2s linear 0.1s,
              outline 0.5s ease-out 0.1s;
}

.repo-list-item-stats {
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.repo-list-item:hover {
  background-color: #70b7d1;
  outline-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.1s linear 0s;
}

.repo-list-item-content {
  margin-left: 20px;
  flex: 1 1 50px;
  min-width: 0;
  overflow: scroll;
  text-overflow: none;
  white-space: nowrap;
  padding-right: 24px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  scrollbar-width: none;
  mask-image: linear-gradient(to right, black calc(100% - 24px), transparent);
  -webkit-mask-image: linear-gradient(to right, black calc(100% - 24px), transparent);
}
.repo-list-item-content::-webkit-scrollbar {
  display: none;
}

#header-div {
  color: red;
}